{
  "swagger": "2.0",
  "info": {
    "title": "PowerApps Microsoft Graph",
    "description": "Custom Connector for accessing Microsoft Graph",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/me/": {},
    "/v1.0/me": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-summary": "@odata.context"
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName",
                  "x-ms-summary": "displayName"
                },
                "givenName": {
                  "type": "string",
                  "description": "givenName",
                  "x-ms-summary": "givenName"
                },
                "surname": {
                  "type": "string",
                  "description": "surname",
                  "x-ms-summary": "surname"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "userPrincipalName",
                  "x-ms-summary": "userPrincipalName"
                },
                "aboutMe": {
                  "type": "string",
                  "description": "aboutMe",
                  "x-ms-summary": "aboutMe"
                }
              }
            }
          }
        },
        "summary": "Get My Profile",
        "description": "Get my user profile",
        "operationId": "GetMyProfile",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Update About Me Profile",
        "description": "Update the About me information in my profile",
        "operationId": "UpdateAbouteMeProfile",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "aboutMe": {
                  "type": "string",
                  "description": "aboutMe",
                  "x-ms-summary": "aboutMe"
                }
              }
            }
          }
        ]
      }
    },
    "/beta/$batch": {},
    "/beta/privilegedRoleAssignments/my": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "userId": {
                        "type": "string",
                        "description": "userId"
                      },
                      "roleId": {
                        "type": "string",
                        "description": "roleId"
                      },
                      "isElevated": {
                        "type": "boolean",
                        "description": "isElevated"
                      },
                      "expirationDateTime": {
                        "type": "string",
                        "description": "expirationDateTime"
                      },
                      "resultMessage": {
                        "type": "string",
                        "description": "resultMessage"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "operationId": "PrivilegedRoleAssignmentmy",
        "summary": "My Privileged Role Assignments",
        "description": "Listing My Privileged Role Assignments and Status",
        "parameters": []
      }
    },
    "/beta/directoryroles/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "roleTemplateId": {
                        "type": "string",
                        "description": "roleTemplateId"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List directoryRoles",
        "description": "List directory roles",
        "operationId": "ListdirectoryRoles",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/beta/privilegedRoles/{id}/selfActivate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "userId": {
                  "type": "string",
                  "description": "userId"
                },
                "roleId": {
                  "type": "string",
                  "description": "roleId"
                },
                "isElevated": {
                  "type": "boolean",
                  "description": "isElevated"
                },
                "expirationDateTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "expirationDateTime"
                },
                "resultMessage": {
                  "type": "string",
                  "description": "resultMessage"
                }
              }
            }
          }
        },
        "operationId": "PrivilegedRoleselfActivate",
        "summary": "Privileged Role Self Activate",
        "description": "Self Activate Privileged Role by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "reason"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "ticketNumber": {
                  "type": "string",
                  "description": "ticketNumber"
                },
                "ticketSystem": {
                  "type": "string",
                  "description": "ticketSystem"
                }
              }
            }
          }
        ]
      }
    },
    "/beta/privilegedRoles/{id}/selfDeactivate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "userId": {
                  "type": "string",
                  "description": "userId"
                },
                "roleId": {
                  "type": "string",
                  "description": "roleId"
                },
                "isElevated": {
                  "type": "boolean",
                  "description": "isElevated"
                },
                "expirationDateTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "expirationDateTime"
                },
                "resultMessage": {
                  "type": "string",
                  "description": "resultMessage"
                }
              }
            }
          }
        },
        "operationId": "PrivilegedRoleSelfDeactivate",
        "summary": "Privileged Role Self Deactivate",
        "description": "Self Deactivate Privileged Role by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize"
    }
  },
  "security": [
    {}
  ],
  "tags": []
}